version: "3.9"
services:
  db:
    image: mysql:8.0
    container_name: elearning-mysql
    restart: unless-stopped
    environment:
      # Cấu hình cho tài khoản ROOT
      MYSQL_ROOT_PASSWORD: rootpass 
      
      # Tên Database sẽ được tạo tự động
      MYSQL_DATABASE: BTL2
      
      # Tạo user phụ (BẮT BUỘC KHÔNG ĐƯỢC LÀ ROOT)
      MYSQL_USER: sManager
      MYSQL_PASSWORD: admin@123
      
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
volumes:
  db_data: